/* sizing for the entire layout, the title, the visualization and the control sidebar */
#layout {
    width: 1150px;
    height: 680px;
    border: none;
}

#title {
    text-align: center;
    width: 276px;
    height: 50px;
    font-size: 18px;
    float: right;
    border: none;
}

#controls {
    width: 276px;
    float: right;
    border: none;
}

#visualization {
    width: 870px;
    height:600px;
    float: left;
    text-align: center;
    border: none;
}


/* other style rules */

#caption {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 12px;
}

div {
    border: 1px solid black;
}

.noborder {
    border: 0px;
}

#controlContent {
    padding-left: 10px;
}


#title, #controls, #treemapControls {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#treemapVisualization {
    width: 800px;
    float: left;
    border-top: 0;
    text-align: center;
    border-right: 0px;
}

#treemapControls {
    width: 276px;
    height:900px;
    float: right;
    border-top: 0px;
}

#innerControls {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    text-align: left;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: white;
}


.sliderlabel {
    font-size: 10px;
}

.label {
    font-weight: bold;
}

a {
    font-size: 14px;
}

text {
    font-color: black;
    font-size: 9px;
}

.node--hover rect {
    stroke: #000;
}
