/* sizing for the entire layout, the title, the visualization and the control sidebar */
#layout {
    width: 1180px;
    height: 680px;
    border: none;
}

#title {
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 18px;
    float: right;
    border: none;
}

#controls {
    width: 250px;
    float: right;
    border: none;
}

#visualization {
    width: 925px;
    height:600px;
    float: left;
    text-align: center;
    border: none;
}


/* other style rules */

#caption {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 12px;
}

div {
    border: 1px solid black;
}

.noborder {
    border: 0px;
}

#controlContent {
    padding-left: 10px;
}

#title, #controls, #treemapControls {
    font-family: 'Raleway', sans-serif;
}

span {
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: white;
}


.sliderlabel {
    font-size: 10px;
    padding-left: 15px;
}

.label {
    font-weight: bold;
}